html, body {
  margin: 0;
  padding: 0;
}

#myCanvas {
  margin: 0 auto;
  border: 2px solid black;
}

.main-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.btn-container {
  display: grid;
  column-count: 2;

  grid-template-columns: 20px 20px;
  gap: 0;
}


.color-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;
  border: 0;
}

.color-btn:active {
  transform: scale(0.9);
}

.color-btn.green {
  background-color: green;
}

.color-btn.red {
  background-color: red;
}

.color-btn.blue {
  background-color: blue;
}

.color-btn.yellow {
  background-color: yellow;
}

.color-btn.black {
  background-color: black;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

